// SPDX-License-Identifier: AGPL-3.0-only
// SPDX-FileCopyrightText: 2024 Informatyka Boguslawski sp. z o.o. sp.k. <https://www.ib.pl>

@use 'sass:color';

@use '@material/theme/color-palette';

$primary: #3f7faf;

// Svelte Colors!
@use '@material/theme/index' as theme with (
	$primary: $primary,
	$secondary: color-palette.$blue-grey-400,
	$surface: #fff,
	$background: #fff,
	$error: color-palette.$red-800
);

// Import all the styles for the classes.
@use '@material/typography/mdc-typography';
// The following classes become available:
//   mdc-typography--headline1
//   mdc-typography--headline2
//   mdc-typography--headline3
//   mdc-typography--headline4
//   mdc-typography--headline5
//   mdc-typography--headline6
//   mdc-typography--subtitle1
//   mdc-typography--subtitle2
//   mdc-typography--body1
//   mdc-typography--body2
//   mdc-typography--caption
//   mdc-typography--button
//   mdc-typography--overline
//   mdc-typography--body1

// MDC's classes and variable, i.e. allows to use stuff like
// var(--mdc-theme-primary) and class="mdc-theme--primary-bg".
@use '@material/theme/styles';

// Import the mixins.
@use '@material/typography/index' as typography;

// Linear progress.
@use '@material/linear-progress/index' as linear-progress;

html,
body {
	background-color: theme.$surface;
	color: theme.$on-surface;
}

a {
	color: $primary;
}

a:visited {
	color: color.scale($primary, $lightness: -35%);
}

.mdc-button {
	margin-bottom: 0.25rem;
}

.mdc-typography--caption {
	color: color.scale(theme.$on-surface, $alpha: -40%);
}

.linear-progress {
	@include linear-progress.bar-color(theme.$on-surface);
	@include linear-progress.buffer-color(color.change(theme.$on-surface, $alpha: 0));
}

.hint-icon {
	background-color: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.6);
}

.page-content .smui-paper.smui-paper--outlined {
	border-color: rgba(0, 0, 0, 0.12);
}

.hint-paper.smui-paper.smui-paper--outlined {
	color: rgba(0, 0, 0, 0.6);
}

//
// Some defaults that may be helpful to you.
// If you just want to use these, and not the classes, you can instead just
// @use '@material/typography/index' as typography, and your CSS file will be smaller.
//

html {
	@include typography.typography('body1');
}

h1 {
	@include typography.typography('headline1');
}

h2 {
	@include typography.typography('headline2');
}

h3 {
	@include typography.typography('headline3');
}

h4 {
	@include typography.typography('headline4');
}

h5 {
	@include typography.typography('headline5');
}

h6 {
	@include typography.typography('headline6');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

caption {
	@include typography.typography('caption');
}

code,
pre {
	font-family: 'Roboto Mono', monospace;
}

small {
	font-size: 0.9em;
}

big {
	font-size: 1.1em;
}

b,
strong {
	font-weight: bold;
}
